<nav
    class="navbar navbar-expand-lg sticky-top bg-dark"
    [attr.data-bs-theme]="'dark'"
>
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" style="color: #fff"
            ><i class="fa-solid fa-book fa-lg"></i> {{ title }}</a
        >
        <button
            class="navbar-toggler bg-light"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggler"
            aria-controls="navbarToggler"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <ng-container *ngFor="let navTab of navTabs">
                    <li class="nav-item">
                        <a
                            class="nav-link mb-0"
                            aria-current="page"
                            [routerLink]="navTab.navUrl"
                            routerLinkActive="active"
                            style="color: #fff"
                            (click)="toggleActive(navTab)"
                            ><ng-container *ngIf="navTab.fontAwesomeIconClass">
                                <i [class]="navTab.fontAwesomeIconClass"></i>
                            </ng-container>
                            {{ navTab.label }}</a
                        >
                    </li>
                </ng-container>
            </ul>
            <button
                class="btn btn-outline-light me-2"
                (click)="onCreateNewLog()"
            >
                <i class="fa-solid fa-notes-medical"></i> Create New Log
            </button>
        </div>
    </div>
</nav>
