<ng-container *ngIf="!categoriesStore.loading(); else logLoaderTemplate">
    <form>
        <div class="row g-3 align-items-right text-bg-info p-2">
            <div class="col-auto">
                <label for="categorySelect" class="col-form-label"
                    >Showing knowledge logs belonging to category</label
                >
            </div>
            <div class="col-auto">
                <select
                    id="categorySelect"
                    class="form-control form-control-lg form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    (change)="onCategoryChange($event)"
                >
                    <ng-container
                        *ngFor="let logCategory of categoriesStore.uiData()"
                    >
                        <option
                            [value]="logCategory.value"
                            [selected]="
                                categoriesStore.selectedCategory() ===
                                logCategory.value
                            "
                        >
                            {{ logCategory.label }}
                        </option>
                    </ng-container>
                </select>
            </div>
            <div class="col-auto">
                <div class="input-group mb-3">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Add new Category"
                        aria-label="Add new Category"
                        aria-describedby="button-addcatgeory"
                        [(ngModel)]="newCategory"
                        [ngModelOptions]="{ standalone: true }"
                    />
                    <button
                        class="btn btn-outline-dark"
                        type="button"
                        id="button-addcatgeory"
                        (click)="onAddNewCategory()"
                        [attr.disabled]="newCategory === '' ? true : null"
                    >
                        Add
                    </button>
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group mb-3">
                    <select
                        id="categoryDelete"
                        class="form-control form-control-lg form-select form-select-sm"
                        aria-label=".form-select-sm example"
                        [(ngModel)]="deleteCategory"
                        [ngModelOptions]="{ standalone: true }"
                    >
                        <option value="ignore">
                            Select a Category to delete
                        </option>
                        <ng-container
                            *ngFor="let logCategory of categoriesStore.uiData()"
                        >
                            <option [value]="logCategory.value">
                                {{ logCategory.label }}
                            </option>
                        </ng-container>
                    </select>
                    <button
                        class="btn btn-outline-dark"
                        type="button"
                        id="button-deletecatgeory"
                        (click)="onDeleteCategory()"
                        [attr.disabled]="
                            deleteCategory === 'ignore' ? true : null
                        "
                    >
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="container-fluid p-0 pt-1">
        <router-outlet></router-outlet>
    </div>
</ng-container>

<ng-template #logLoaderTemplate>
    <div
        style="
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        "
    >
        <div
            class="spinner-grow text-warning"
            style="width: 3rem; height: 3rem"
            role="status"
        >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>
